
/*testimonail section*/
.testimonail {
    position: relative;
    background-image: url(../images/background/background3.webp);
    /*background-size: cover;*/
    background-attachment: fixed;
    height: 400px;
}

.testimonail-content {
    overflow: hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}

.testimonail-item {
    width: 50%;
    /*lazm m3 elfloat 34an tege fe elnos*/
    float: left;
    color: #fff;
}

.testimonail-item .testimonail-toplayer {
    padding: 10px 2px 40px 100px;
    /*left keber 34an a7ot feh elsora*/
    position: relative;

}

.testimonail-item .testimonail-toplayer img {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
}

.testimonail-item .testimonail-toplayer .testimonail-name {
    margin: 5px 0;
}

.testimonail-item .testimonail-toplayer .testimonail-job {
    color: var(--mainColor);
}

.testimonail-desc {
    line-height: 1.5;
    font-size: 17px;
}